In [ ]:
#Import Libraries
import pandas as pd
import numpy as np

# Import CSV Files

In [ ]:
df1 = pd.read_csv('/content/employee_data.csv')
df2 = pd.read_csv('/content/employee_engagement_survey_data.csv')
df3 = pd.read_csv('/content/recruitment_data.csv')
df4 = pd.read_csv('/content/training_and_development_data.csv')

# Renaming Columns Specifically for Merging

In [ ]:
df1_rename = df1

In [ ]:
df2_rename = df2.rename(columns = {'Employee ID' : 'EmpID'})

In [ ]:
df3_rename = df3.rename(columns = {'Applicant ID' : 'EmpID'})

In [ ]:
df4_rename = df4.rename(columns = {'Employee ID' : 'EmpID'})

 # Displaying the first five rows using the head() function

In [ ]:
df2_rename.head()

,EmpID,Survey Date,Engagement Score,Satisfaction Score,Work-Life Balance Score
0,1001,10-10-2022,2,5,5
1,1002,8-3-2023,4,5,3
2,1003,1-3-2023,2,5,2
3,1004,7-30-2023,3,5,3
4,1005,6-19-2023,2,4,5

# Merging dataframes based on the 'EmpID' column

In [ ]:
merged_df = df1_rename.merge(df2_rename, on='EmpID') \
               .merge(df3_rename, on='EmpID') \
               .merge(df4_rename, on='EmpID')

In [ ]:
merged_df.head()

,EmpID,FirstName,LastName,FullName_x,StartDate,ExitDate,TitleOfJob,Supervisor,EmployerEmail,BusinessUnit,...,Job Title,Status,Training Date,Training Program Name,Training Type,Training Outcome,Location,Trainer,Training Duration(Days),Training Cost
0,3427,Uriah,Bridges,Uriah Bridges,9-20-2019,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,...,Seismic interpreter,Offered,7-15-2023,Leadership Development,Internal,Failed,South Marisa,Taylor Rodriguez,2,606.11
1,3428,Paula,Small,Paula Small,2-11-2023,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,...,"Horticulturist, amenity",In Review,9-12-2022,Customer Service,External,Incomplete,Tammieville,Kelly Patterson DDS,4,673.02
2,3429,Edward,Buck,Edward Buck,12-10-2018,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,...,Senior tax professional/tax inspector,Rejected,8-13-2022,Leadership Development,External,Failed,East Roberthaven,Taylor Thomas,2,413.28
3,3430,Michael,Riordan,Michael Riordan,6-21-2021,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,...,Data scientist,Interviewing,12-15-2022,Project Management,External,Completed,Garzatown,Holly Elliott,3,663.78
4,3431,Jasmine,Onque,Jasmine Onque,6-29-2019,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,...,"Engineer, land",Applied,7-13-2023,Technical Skills,External,Failed,Lake Meganville,Donald Martinez,5,399.03

# Checking for null Values

In [ ]:
merged_df.isnull().sum()

EmpID                            0
FirstName                        0
LastName                         0
FullName_x                       0
StartDate                        0
ExitDate                      1467
TitleOfJob                       0
Supervisor                       0
EmployerEmail                    0
BusinessUnit                     0
EmployeeStatus                   0
EmployeeType                     0
PayZone                          0
EmployeeClassificationType       0
TerminationType                  0
TerminationDescription        1467
DepartmentType                   0
Division                         0
DOB                              0
State_x                          0
JobFunctionDescription           0
GenderCode                       0
LocationCode                     0
RaceDesc                         0
MaritalDesc                      0
Performance Score                0
Current Employee Rating          0
Survey Date                      0
Engagement Score                 0
Satisfaction Score               0
Work-Life Balance Score          0
Application Date                 0
First Name                       0
Last Name                        0
FullName_y                       0
Gender                           0
Date of Birth                    0
Email                            0
Address                          0
City                             0
State_y                          0
Zip Code                         0
Country                          0
Education Level                  0
Years of Experience              0
Desired Salary                   0
Job Title                        0
Status                           0
Training Date                    0
Training Program Name            0
Training Type                    0
Training Outcome                 0
Location                         0
Trainer                          0
Training Duration(Days)          0
Training Cost                    0
dtype: int64

# Checking for duplicate values

In [ ]:
merged_df.duplicated().sum()

np.int64(0)

# Checking the shape of the merged dataframe

In [ ]:
merged_df.shape

(3000, 56)

# Filling null values in the 'ExitDate' column with the current timestamp

In [ ]:
df1_cleaned['ExitDate'] = merged_df['ExitDate'].fillna(pd.Timestamp.today())

<ipython-input-63-db3558525f4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_cleaned['ExitDate'] = merged_df['ExitDate'].fillna(pd.Timestamp.today())

# Dropping the 'TerminationDescription' column due to null values

In [ ]:
df1_cleaned_again = df1_cleaned.dropna()

# Rechecking for null values after cleaning

In [ ]:
df1_cleaned_again.isnull().sum()

EmpID                         0
FirstName                     0
LastName                      0
FullName                      0
StartDate                     0
ExitDate                      0
TitleOfJob                    0
Supervisor                    0
EmployerEmail                 0
BusinessUnit                  0
EmployeeStatus                0
EmployeeType                  0
PayZone                       0
EmployeeClassificationType    0
TerminationType               0
TerminationDescription        0
DepartmentType                0
Division                      0
DOB                           0
State                         0
JobFunctionDescription        0
GenderCode                    0
LocationCode                  0
RaceDesc                      0
MaritalDesc                   0
Performance Score             0
Current Employee Rating       0
dtype: int64

In [ ]:
df1_cleaned_again.shape

(1533, 27)

# Saving the cleaned dataframe to a CSV file

In [ ]:
df1_cleaned_again.to_csv('df_clean_csv.csv', index=False)